// COLORES

$color-primary:#e17334;

$color-secondary: #114e4e;
$color-secondary-light:#438792;
$color-secondary-lighter:#a2deaf;

$color-ligthtone: #fff;
$color-midtone: #f9f4dc;
$color-midtonemidark: #dde9ed;
$color-midtonedark:#c5c5c5;
$color-midmiddark: #bfcdd0;
$color-middark:#54585a;
$color-light-dark:#6b6b6b;
$color-darktone: #000;
$color-background: #f5f5f5;

// red family

$color-red-blood:#420101;
$color-red-bright:#bd1010;
$color-red-sunset: #e95626;

//grey family

$color-San-Juan:#3e5b65;
$color-solitude:#dfe5eb;
$color-regent: #a0c0cf;

/* TYPOGRAPHY WEIGHT */

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 900;

/*
$font-size-super-xl:    px;
$font-size-super:       px;
$font-size-su:          px;
$font-size-xxl-plus:    px;
*/
$font-size-xxl:         24px;
$font-size-xl-plus:     22px;


$font-size-xl:          20px;
$font-size-l:           18px;
$font-size-m-plus:      16px;
$font-size-m:           14px;
$font-size-s-plus:      13px;
$font-size-s:           12px;


$font-family-primary:'Open Sans', sans-serif;
$font-family-secundary: 'Merriweather', serif;
$font-family-terciary:'Comic Sans MS', 'Chilanka';
