// COLORES

$color-primary:#e17334;

$color-secondary: #114e4e;
$color-secondary-light:#438792;
$color-secondary-lighter:#a2deaf;

$color-ligthtone: #fff;
$color-midtone: #f9f4dc;
$color-darktone: #000;

// red family 

$color-red-blood:#420101;
$color-red-bright:#bd1010;
$color-red-sunset: #e95626;

//grey family

$color-San-Juan:#3e5b65;
$color-solitude:#dfe5eb;
$color-regent: #a0c0cf;