.allboxes{
width: 320px;
margin-left: auto;
margin-right: auto;
background-color: #f5f5f5;
}

.landingbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.logo{
  margin-top: 94px;
  margin-bottom: 36px;
  width: 250px;
  height: 64px;
}

.maintitle{
font-size: $font-size-l;
color: $color-primary;
margin-bottom: 4px;
margin-top: 0;
}

.parraph1{
font-size: 12px;
margin-bottom: 14px;
color: #114e4e;
}

.iconbox{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid rgba(225, 115, 52, 0.5);
width: 268px;
height: 83px;

}

.minibox1{
  color: #e17334;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  height: 60px;
  margin-top: 15px;
}

.minibox2{
  color: #e17334;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  height: 60px;
  margin-top: 15px;
}

.minibox3{
  color: #e17334;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  height: 60px;
  margin-top: 15px;
}


.startbutt {
width: 129px;
height: 42px;
display: flex;
justify-content: center;
align-items: center;
background-color: #438792;
color: white;
border-radius: 20px;
text-decoration: none;
margin-top: 40px;
margin-bottom: 30px;

}
