* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.allboxes {
  margin-left: auto;
  margin-right: auto;
  background-color: $color-background;
  min-height: 100vh;
}

.landingbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 28px;
}

.logo {
  margin-top: 54px;
  margin-bottom: 36px;
  width: 250px;
  height: 64px;
}

.maintitle {
  font-size: $font-size-l;
  color: $color-primary;
  font-family: $font-family-secundary;
  margin-bottom: 4px;
  margin-top: 0;
}

.parraph1 {
  font-family: $font-family-primary;
  width: 268px;
  font-weight: normal;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 13px;
  margin-bottom: 14px;
  color: $color-secondary;
}

.iconbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgba(225, 115, 52, 0.3);
  width: 268px;
  height: 78px;
  border-radius: 4px;
  padding: 15px 20px 10px 20px;
}

.minibox {
  color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
  flex-direction: column;
  width: 60px;
  height: 48px;
  font-size: 26px;
}

.minitext {
  text-decoration-color: none;
  color: $color-middark;
  font-size: 16px;
  margin: 0;
}

.startbutt {
  width: 100px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary-light;
  color: white;
  border-radius: 20px;
  font-family: $font-family-primary;
  font-weight: $semibold;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

@media all and (min-width:768px) {
  .logo {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 410px;
    height: 107px;
  }
  .maintitle {
    font-size: $font-size-xxl;
    margin-bottom: 4px;
    margin-top: 0;
  }
  .parraph1 {
    width: 331px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 21px;
  }
  .iconbox {
    width: 325px;
    height: 86px;
  }
  .startbutt {
    margin-top: 100px;
    margin-bottom: 59px;
  }
}
