.no_link_decoration {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-family-primary;
  font-size: $font-size-m;



  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
}

.footer__copiright {
  align-self: center;
  color: $color-light-dark;
  margin: 20px 10px;

  @media all and (min-width: 768px) {
    margin: 20px 0 20px 41px;
  }
}

.footer__link-img-adalab {
  width: 103px;
  align-self: center;
  margin-right: 40px;

  @media all and (min-width: 768px) {
    margin-right: 44px;

  }
}

.footer__img-adalab {
  width: 103px;
}
