.header__link {
  display: flex;
  margin-left: 40px;
  position: relative;
}
.header__link::after {
  content: '';
  display: inline;
  width: 200px;
  position: absolute;
  left: -20px;
}

.header__img {
  width: 500px;
}
