.header__link {
  display: flex;
  margin-left: 40px;
  position: relative;
  height: 150px;
&::after {
  content: '';
  background-image: url('../images/before.svg');
  background-size: contain;
  background-repeat: no-repeat;
   display: inline;
  height: 150px;
  width: 300px;
  position: absolute;
  left: 20px;
}
}

.header__img {
  width: 300px;
}
