.header__link {
  display: flex;
  margin-left: 40px;
  position: relative;
}
.header__link::after {
  content: url(../../images/before.svg);
  display: inline;
  position: absolute;
  left: -20px;
}

.header__img {
  width: 500px;
}
