.container-mediaqueries-preview{
  padding: 20px;
background-color: #F5FAF8;
//background-color: #FBF7F1;

    @media all and (min-width:768px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 10px;
    }
  }
.contenido-colapsable {
  display: none;
}

.preview-container{
 border-radius: 10px;
 box-shadow:1px 1px 3px 1px rgba(0, 0, 0, 0.35);
    @media all and (min-width:768px) {
       margin-right: 20px;
       width: auto;
    }
   @media all and (min-width:1200px) {
    width: 400px;
    margin-left: 200px;
    margin-right: auto;
 }
}
.container-izquierda{
    @media all and (min-width:768px) {
       margin-left: 40px;
       width: 50%;
    }
}

//Formato colapsables

.colapsable-titulo{
border-bottom: 1px solid lightgrey;
}

.colapsable--visible {
  .contenido-colapsable {
    display: block;
  }
}

.mediaqueries-preview {
  display: flex;
  flex-direction: row-reverse;
  @media all and (min-width:768px) {
    width: 329px;
    min-height: 460px;
    justify-content: flex-start;
 }
}

.preview-container {
  border: 0;
  background-image: url(../images/fondo-dots2.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  @media all and (min-width:768px) {
    width: 329px;
    min-height: 460px;
    justify-content: flex-start;
 }
}

.margin-preview {
  padding: 10px 35px 30px 45px;
  height: 100%;
}

.button-reset__container {
  margin-top: 20px;
  width: 75px;
  height: 30px;
  border: 3px solid $color-primary;
  border-radius: 15px;
  display: flex;
  background-color: $color-ligthtone;
  box-shadow: 1px 1px;

}

.icono-basura {
  width: 11px;
  height: 20px;
  color: $color-primary;
  margin: 9px;
}

.button-reset__title {
  width: 34px;
  height: 15px;
  font-family: $font-family-primary,arial, sans-serif;
  font-size: $font-size-s;
  font-weight: $normal;
  color: $color-primary;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
}

.button-reset__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.preview {
  margin-top: 20px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  height: 367px;
  width: 240px;
  @media all and (min-width:1200px) {
    margin-left: 35px;
}
}

.preview_title {
  height: 75px;
  background-color: $color-ligthtone;
  padding-top: 23px;
}

.preview-title__container {
  display: flex;
  flex-direction: row;
  height: 42px;
}

.color-line {
  height: 42px;
  width: 5px;
  background-color: $color-secondary-lighter;
}

.container-name-profesion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.name_line {
  margin: 0;
  font-family: "Comic Sans MS", "Chilanka";
  font-size: $font-size-l;
  font-weight: $bold;
  line-height: 1.11;
  color: $color-secondary;
}

.profesion_line {
  margin: 0;
  font-family: "Comic Sans MS", "Chilanka";
  font-size: $font-size-m-plus;
  font-weight: $normal;
  line-height: 1.25;
  color: $color-middark;
}

.photo-container {
  display:flex;
  width: 240px;
  height: 196px;

}
.changeImagePreview{
  width: 100%;
  display: block;
}


.footer-preview__container {
  background-color: $color-ligthtone;
}

.logos-container {
  height: 52px;
  border-bottom: 2px solid rgba($color-secondary-light, 0.2);
  padding: 10px 0px 10px 20px;
  display: flex;
  flex-direction: row;
}

.logo-preview {
  color: $color-secondary;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.boton-red-social {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: solid 2px $color-secondary-lighter;
  text-decoration: none;
  position: relative;
  margin-right: 10px;
}

.etiquetas-habilidades-container {
  height: 38px;
  display: flex;
  padding: 10px 10px 10px 15px;
}

.etiqueta-habilidad {
  width: 65px;
  height: 18px;
  border-radius: 4px;
  background-color: $color-secondary-light;
  color: $color-ligthtone;
  font-family: $font-family-primary;
  font-size: $font-size-s;
  font-weight: $normal;
  margin-top: 0;
  margin-right: 10px;
  text-align: center;
  list-style: none;
}

//CLASES DE Diseña
// PALETA VERDE //
.preview-green-lighter {
  border-color: $color-secondary-lighter;
  background: $color-secondary-lighter;
}

.preview-green-light {
  background-color: $color-secondary-light;
}

.preview-green-dark {
  color: $color-secondary;
}

// PALETA ROJA //
.preview-red-lighter {
  border-color: $color-red-sunset;
  background: $color-red-sunset;
}

.preview-red-light {
  background-color: $color-red-bright;
}

.preview-red-dark {
  color: $color-red-blood;
}

// PALETA AZUL //
.preview-blue-lighter {
  border-color: $color-regent;
  background: $color-regent;
}

.preview-blue-light {
  background-color: $color-solitude;
}

.preview-blue-dark {
  color: $color-San-Juan;
}

// CLASE TIPOGRAFIAS //
.preview__font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.preview__font-comic {
  font-family: 'Comic Sans MS', 'Chilanka', sans-serif;
}

.preview__font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
