
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 900;

$font-size-xxl:         24px;
$font-size-xl-plus:     22px;


$font-size-xl:          20px;
$font-size-l:           18px;
$font-size-m-plus:      16px;
$font-size-m:           14px;
$font-size-s-plus:      13px;
$font-size-s:           12px;


$font-family-primary:'Open Sans', sans-serif;
$font-family-secundary: 'Merriweather', serif;
$font-family-special:"Comic Sans MS", "Comic Sans", cursive;


